@page "/"


@inject IJSRuntime JS;


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content">
        <div>
            <div id="map"></div>
        </div>
    </div>
</div>






@code {


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        // вызываем инициализацию карты: массив точек, стартовый город, id контейнера карты
        await JS.InvokeVoidAsync("getGeolocationAndInitMap", null, null, "map");
    }


}


