<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h2>Привет! Обнови страницу, и здесь появится карта с маршрутом ;)</h2>
    </hgroup>

    @Scripts.Render("~/bundles/jquery")

    <script>
        $(document).ready(function () {
            //location.href = "/home/index";
        });
    </script>
</body>
</html>
