@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using CoreImplementation.ServiceInterfaces;
@using CoreImplementation.Model;

@inject IHttpContextAccessor httpContextAccessor
@inject IUserService userService


@if (!string.IsNullOrEmpty(principal?.Identity?.Name))
{
<div class="ml-md-auto">
    <div class="padding-around">
        <img class="avatar-img" src="@user.AvatarUrl" alt="avatar" />
        <b class="ml-auto">@user.Name</b>
    </div>

    <div>
        <a class="btn btn-primary" href="/Logout" target="_top">Выйти</a>
    </div>
</div>
}
else
{
    <a class="ml-md-auto btn btn-primary" href="/Login" target="_top">Войти</a>
}



@code {
    private ClaimsPrincipal principal;
    private VMUser user;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        try
        {
            principal = httpContextAccessor.HttpContext.User;

            user = userService.ExtractUserData(principal);
        }
        catch
        {
        }
    }
}