@using CoreImplementation.Model;


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><span class="oi oi-globe"></span> Travel Helper</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column ml-auto">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя страница
            </NavLink>

            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @(Travel?.Name ?? "Путешествие не выбрано")
            </NavLink>
        </li>
    </ul>


    <div class="sidebar-bottom">
        <ul class="nav flex-column ml-auto">
            <li class="nav-item px-3">
                <LoginControl></LoginControl>
            </li>
        </ul>
    </div>
</div>





@code {

    
    [Parameter]
    public VMTravel Travel { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}