@page "/"

@using CoreImplementation.ServiceInterfaces;
@using CoreImplementation.Model;

@inject ITravelService travelService
@inject IJSRuntime JS;


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content-container">
        <div>
            <div id="map"></div>
        </div>
    </div>
</div>


@code {


    protected override void OnInitialized()
    {
        List<VMCategory> categories = travelService.GetAllCategories();

        base.OnInitialized();
    }



    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        // вызываем инициализацию карты: массив точек, стартовый город, id контейнера карты
        await JS.InvokeVoidAsync("getGeolocationAndInitMap", null, null, "map");
    }


}