@page "/NewTravel"


<h3>NewTravel</h3>

TODO: 
    выбор города - автокомплит
    выбор категорий
    ввод дат
    составление и открытие предварительного расписания (по дням) на редактирование
    редактирование и сохранение окончательного варианта



@code {

}
